@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary: #9cb7b4;
$side: #4550509f;
$forms: #1bb9b9c4;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.primary {
  background-color: $primary;
}

.sidebar {
  background-color: $side;
}

.register {
  background-color: $forms;
}

.card-img {
  max-width: 800px;
  height: 100%;
}

.imageArray {
  max-width: 100%;
  height: auto;
}

.bidAndLog {
  margin: 60px;
}

.bid {
  margin: 30px;
}

@media (min-width: 573px) {
  .listingsAndBids {
    display: flex;
  }
}

@media (min-width: 1800px) {
}
