@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary: #8bdb7d;
$side: #4550509f;
$forms: #1bb9b9c4;

.sidebar {
  background-color: $side;
}

.register {
  background-color: $forms;
}

.card-img {
  max-width: 800px;
  height: 100%;
}
